<ion-header>
  <ion-toolbar color="primary">
    <ion-title>      
      Items
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar id="itemSearch" name="itemSearch" (ionInput)="filterItem($event)" showCancelButton="focus" placeholder="Filtrar ítem">      
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items" >
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="8" class="ion-no-margin-vertical ion-no-padding-vertical">
              <p class="title-item">{{ item.product.name }} - {{ item.product.category.name }}</p>                 
              <p class="sub-title-item">Qtd.: {{ item.quantity }}</p>
              <p class="sub-title-item">Preço: {{ item.price | currency:'R$':'symbol':'0.1-2':'pt-BR'}}</p>
            </ion-col>      
            <ion-col size="4" class="ion-align-self-center ion-no-margin-vertical ion-no-padding-vertical">
              <div class="ion-text-right currency-positive">
                {{ item.quantity * item.price | currency:'R$':'symbol':'0.1-2':'pt-BR' }}
              </div>
            </ion-col>             
          </ion-row>  
        </ion-grid>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option [routerLink]="['add', item.idOff]">
          <ion-icon slot="icon-only" name="create" color="secondary"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="delete(item.idOff)">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['add']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title>
        <ion-grid>
          <ion-row>   
            <ion-col size="12" class="ion-align-self-center ion-no-margin-vertical ion-no-padding-vertical">
              <div class="ion-text-right currency-positive">
                Total: {{ totalPriceAllItems | currency:'R$':'symbol':'0.1-2':'pt-BR' }}
              </div>
            </ion-col>             
          </ion-row>  
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
