<ion-header>
  <ion-toolbar color="primary">
    <ion-title>      
      Produto
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="onSubmit()">

    <ion-searchbar id="categoryNameSearch" name="categoryNameSearch" (ionInput)="filterCategory($event)" 
        showCancelButton="focus" placeholder="Filtrar Categoria">      
    </ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <div>
            <ion-item>
              <ion-select [(ngModel)]="product.category" id="idOffCategory" name="idOffCategory" #category="ngModel" 
                required interface="popover" placeholder="Selecione uma Categoria">
                  <ion-select-option *ngFor="let category of categories" [value]="category">
                    {{ category.name }}
                  </ion-select-option>
              </ion-select>        
            </ion-item>  
          </div>
        </ion-col>
        <ion-col size="1" class="ion-align-self-center">
          <div>
            <ion-icon name="add-circle-sharp" color="secondary" (click)="openCategoryAddPage()" style="zoom:2.0;"></ion-icon>
          </div>
        </ion-col>
      </ion-row>      
    </ion-grid>

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input [(ngModel)]="product.name" name="name" autocapitalize="on" autofocus="true" clearInput required #name="ngModel"></ion-input>
    </ion-item>  

    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block" 
        [disabled]="category.invalid || name.invalid">
        Salvar
      </ion-button>
    </div>
  </form>

</ion-content>
