<ion-header>
  <ion-toolbar color="primary">
    <ion-title>      
      <ion-icon name="add-circle-outline"></ion-icon>
      Novo Item
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Produto</ion-label>
      <ion-input [(ngModel)]="productName" name="productName" inputmode="decimal" required></ion-input>
    </ion-item>   
    <ion-button color="secondary" expand="block" (click)="showProductModal()">Adicionar produto</ion-button>
    <ion-item>
      <ion-label position="stacked">Valor unitário</ion-label>
      <ion-input [(ngModel)]="price" name="price" inputmode="decimal" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quantidade</ion-label>
      <ion-input [(ngModel)]="quantity" name="quantity" type="number" min="0" required></ion-input>
    </ion-item>

    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block">Salvar</ion-button>
    </div>
  </form>

</ion-content>
