<ion-header>
  <ion-toolbar color="primary">
    <ion-title>      
      <!-- <ion-icon name="add-circle-outline"></ion-icon> -->
      Novo Item
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="onSubmit()">

    <ion-searchbar id="productNameSearch" name="productNameSearch" (ionInput)="filterProductName($event)" 
        showCancelButton="focus" placeholder="Filtrar Produto">      
    </ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <ion-item>
            <!-- <ion-label>Produto</ion-label> -->
            <ion-select [(ngModel)]="shopItems.product" id="idOffProduct" name="idOffProduct" #product="ngModel"
              interface="popover" placeholder="Selecione um Produto">
                <ion-select-option *ngFor="let product of products" [value]="product">
                  {{ product.name }}
                </ion-select-option>
            </ion-select>        
          </ion-item>  
        </ion-col>
        <ion-col size="1" class="ion-align-self-center">
          <div>
            <ion-icon name="add-circle-sharp" color="secondary" (click)="openProductAddPage()" style="zoom:2.0;"></ion-icon>
          </div>
        </ion-col>
      </ion-row>      
    </ion-grid>

    <ion-item>
      <ion-label position="stacked">Valor unitário</ion-label>
      <ion-input [(ngModel)]="shopItems.price" name="price" inputmode="decimal" #price="ngModel" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quantidade</ion-label>
      <ion-input [(ngModel)]="shopItems.quantity" name="quantity" type="number" min="0" #quantity="ngModel" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Observações</ion-label>
      <ion-textarea [(ngModel)]="comments" name="comments" autocapitalize="on" autofocus="true" clearInput></ion-textarea>
    </ion-item>    

    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block" [disabled]="product.invalid || price.invalid || quantity.invalid">
        Salvar
      </ion-button>
    </div>
  </form>

</ion-content>
