<ion-header>
  <ion-toolbar color="primary">
    <ion-title>shop-add</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/shop/add"></ion-back-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="shopName" name="name" autocapitalize="on" clearInput required></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block">Save</ion-button>
    </div>
  </form>

  <!-- <ion-button color="primary" expand="block" [disabled]="!formShop.valid" (click)="save()">
    Gravar
  </ion-button> -->

</ion-content>
